CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_xiaomi_mi-router-4c=y

CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_googletest=y
CONFIG_PACKAGE_fptn-client-slim=y

CONFIG_boost-static-and-shared-libs=y
CONFIG_PACKAGE_boost-atomic=y
CONFIG_PACKAGE_boost-charconv=y
CONFIG_PACKAGE_boost-chrono=y
CONFIG_PACKAGE_boost-container=y
CONFIG_PACKAGE_boost-context=y
CONFIG_PACKAGE_boost-coroutine=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-exception=y
CONFIG_PACKAGE_boost-fiber=y
CONFIG_PACKAGE_boost-filesystem=y
CONFIG_PACKAGE_boost-locale=y
CONFIG_PACKAGE_boost-nowide=y
CONFIG_PACKAGE_boost-process=y
CONFIG_PACKAGE_boost-random=y
CONFIG_PACKAGE_boost-regex=y
CONFIG_PACKAGE_boost-thread=y